<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyPage</display-name>
  <welcome-file-list>
    <welcome-file>html/index.html</welcome-file>
    <welcome-file>html/index.htm</welcome-file>
    <welcome-file>html/index.jsp</welcome-file>
    <welcome-file>html/default.html</welcome-file>
    <welcome-file>html/default.htm</welcome-file>
    <welcome-file>html/default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>My Page</servlet-name>
    <servlet-class>pl.javastart.servlets.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My Page</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>pageOneProcess</display-name>
    <servlet-name>pageOneProcess</servlet-name>
    <servlet-class>com.as.samples.pageOneProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageOneProcess</servlet-name>
    <url-pattern>/pageOneProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>pageTwoProcess</display-name>
    <servlet-name>pageTwoProcess</servlet-name>
    <servlet-class>com.as.samples.pageTwoProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageTwoProcess</servlet-name>
    <url-pattern>/pageTwoProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CalcPetrolProcess</display-name>
    <servlet-name>CalcPetrolProcess</servlet-name>
    <servlet-class>com.my.site.CalcPetrolProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalcPetrolProcess</servlet-name>
    <url-pattern>/CalcPetrolProcess</url-pattern>
  </servlet-mapping>
</web-app>